<body>
    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.title }}">

        <button type="submit">OK title</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.description }}">

        <button type="submit">OK description</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.quote }}">

        <button type="submit">OK quote</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.quote_author }}">

        <button type="submit">OK quote_author</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.format }}">

        <button type="submit">OK format</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.genre }}">

        <button type="submit">OK genre</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.duration }}">

        <button type="submit">OK duration</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.languages }}">

        <button type="submit">OK languages</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.country }}">

        <button type="submit">OK country</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.year }}">

        <button type="submit">OK year</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.release_festival }}">

        <button type="submit">OK release_festival</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.release_date }}">

        <button type="submit">OK release_date</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.festivals }}">

        <button type="submit">OK festivals</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.cast }}">

        <button type="submit">OK cast</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.directed_by }}">

        <button type="submit">OK directed_by</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.written_by }}">

        <button type="submit">OK written_by</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.produced_by }}">

        <button type="submit">OK produced_by</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.co_produced_by }}">

        <button type="submit">OK co_produced_by</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.director_producer }}">

        <button type="submit">OK director_producer</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.executive_producer }}">

        <button type="submit">OK executive_producer</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.cinematographer }}">

        <button type="submit">OK cinematographer</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.sound }}">

        <button type="submit">OK sound</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.editing }}">

        <button type="submit">OK editing</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.sound_design }}">

        <button type="submit">OK sound_design</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.sound_mixing }}">

        <button type="submit">OK sound_mixing</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.music }}">

        <button type="submit">OK music</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.assistant_director }}">

        <button type="submit">OK assistant_director</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.assistant_producer }}">

        <button type="submit">OK assistant_producer</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.assistant_editor }}">

        <button type="submit">OK assistant_editor</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.animation }}">

        <button type="submit">OK animation</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.vfx }}">

        <button type="submit">OK vfx</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.digital_composer }}">

        <button type="submit">OK digital_composer</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.colorist }}">

        <button type="submit">OK colorist</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.graphic_design }}">

        <button type="submit">OK graphic_design</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.subtitles }}">

        <button type="submit">OK subtitles</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.sound_studio }}">

        <button type="submit">OK sound_studio</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.image_postproduction_and_dcp }}">

        <button type="submit">OK image_postproduction_and_dcp</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.international_sales_and_festivals }}">

        <button type="submit">OK international_sales_and_festivals</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.image_top }}">

        <button type="submit">OK image_top</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.image_one }}">

        <button type="submit">OK image_one</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.image_one_subtext }}">

        <button type="submit">OK image_one_subtext</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.image_two }}">

        <button type="submit">OK image_two</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.image_two_subtext }}">

        <button type="submit">OK image_two_subtext</button>
    </form>

    <form action="/work/{{ work.key.id() }}/edit" method="post">
        <input name="some_text" value="{{ work.link_video }}">

        <button type="submit">OK link_video</button>
    </form>

</body>
